
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Excel
UploadFile

.vs/config/applicationhost.config
/.vs
/01_Client/ZTO.SSASYS.WebAPI/DownLoadFile/temp
/01_Client/ZTO.SSASYS.WebAPI/DownLoadFile
/01_Client/ZTO.SSASYS.Web/Content/record/temp/37147_fc554180-8e0f-11e8-a08e-eb3c3ea9e3ef.mp3.temp
/01_Client/ZTO.SSASYS.Web/Content/record/temp
/01_Client/ZTO.SSASYS.Web/Properties/PublishProfiles/FolderProfile1.pubxml
